	.two {
		font-size: 68px;
		font-weight: bold;
		text-align: center;
	}
	
	.three{
		font-size: 18px;
	}
	
	@media only screen and (max-width: 450px) {
	.two {
		font-size: 30px;
		font-weight: bold;
		text-align: center;
	}
	
	.three{
		font-size: 15px;
		font-weight: light;
	}
}