@media only screen and (max-width: 450px) {
	.one1 {
		display: none;
	}
}

@media only screen and (max-width: 450px) {
	h1 {
		font-size: 20px;
		font-weight: bold;
	}
}

tr:nth-child(even) {
	background-color: #ADD8E6;
	border: 1px solid black;
	opacity: 0.85;
	filter: alpha(opacity = 85); /* For IE8 and earlier */
}

th {
	background-color: #4286f4;
	color: white;
}